<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[{v_ressourcesPath}css/flashstyles.css?v={v_version}]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[{v_ressourcesPath}swf/fonts/fonts.swf?v={v_version}]]></font>
	</fonts>
	
	<labels>
		<file><![CDATA[{v_ressourcesPath}xml/i18n/labels_{v_lang}.xml?v={v_version}]]></file>
	</labels>
	
	<vars>
		<var code="wsPath"><![CDATA[http://localhost/mushcontagion/]]></var>
		<var code="ressourcesPath"><![CDATA[./]]></var>
	</vars>
	
	<paths>
		<path code="music"><![CDATA[{v_ressourcesPath}sounds/music.mp3?v={v_version}]]></path>
	</paths>
	
	<dependencies />
	
</root>