@CHARSET "UTF-8";
/**
 * Base de Design Mush
 */
body {
	color: #FFF;
}

/*
 * ADV : Flash & JS needed
 */
body #content1 #content p {
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}
body #content1 #content a,
body #content1 #content a:visited {
	border: solid 1px #F80;
	color: #F80;
	text-shadow: 3px 3px 3px #000;
}
body #content1 #content a:hover {
	border: solid 1px #FF0;
	color: #FF0;
	text-shadow: 2px 2px 1px #000;
}

/*
 * BETA-TEST
 */
body.beta a,
body.beta a:visited {
	color: #FF0;
	text-shadow: 2px 2px 3px #000;
}
body.beta a:hover {
	color: #FC0;
	text-shadow: 1px 1px 1px #000;
}