@CHARSET "UTF-8";
/**
 * Base de Design Mush
 */
body {
	color: #000;
}

/*
 * ADV : Flash & JS needed
 */
body #content1 #content p {
	color: #000;
	/* text-shadow: 2px 2px 2px #000; */
}
body #content1 #content a,
body #content1 #content a:visited {
	border: solid 1px #0F75BC;
	color: #0F75BC;
	/* text-shadow: 3px 3px 3px #000; */
}
body #content1 #content a:hover {
	border: solid 1px #5CA5D6;
	color: #5CA5D6;
	/* text-shadow: 2px 2px 1px #000; */
}

/**
 * BETA-TEST
 */
body.beta a,
body.beta a:visited {
	color: #0F75BC;
	/* text-shadow: 2px 2px 3px #000; */
}
body.beta a:hover {
	color: #5CA5D6;
	/* text-shadow: 1px 1px 1px #000; */
}