@CHARSET "UTF-8";

/*
 * Base
 */
html,body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Arial, sans-serif;
}

body {
	font: 12px Trebuchet MS, Arial, sans-serif;
	margin: 0;
}

/*
 * ADV : Flash & JS needed
 */
body #content1 #content {
	width: 650px;
	margin: 250px auto;
}

body #content1 #content p {
	font: 18px Trebuchet MS, Arial, sans-serif;
}

body #content1 #content a,body #content1 #content a:visited {
	display: block;
	width: 350px;
	margin: 0 auto;
	padding: 3px 5px;
	font: 24px Trebuchet MS, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

body #content1 #content a:hover {
	padding: 4px 4px 2px 6px;
}

/*
 * BETA-TEST
 */
body.beta {
	width: 700px;
	margin: 16px auto;
}

body.beta .floatLeft {
	float: left;
	margin-right: 8px;
}

body.beta a,body.beta a:visited {
	
}

body.beta a:hover {
	
}

body.beta img.avatar40 {
	border: none;
	width: 40px;
	height: 40px;
}

body.beta textarea {
	width: 600px;
	height: 250px;
}

/*
 * Avatar
 */
img.avatar {
	border: none;
	display: block;
	background: transparent url('../gfx/loader.gif') center center no-repeat;
}

img.avatar.ft32 {
	width: 32px;
	height: 32px;
}

img.avatar.ft40 {
	width: 40px;
	height: 40px;
}

img.avatar.ft60 {
	width: 60px;
	height: 60px;
}

img.avatar.ft80 {
	width: 80px;
	height: 80px;
}

img.avatar.ft100 {
	width: 100px;
	height: 100px;
}

img.avatar.ft120 {
	width: 120px;
	height: 120px;
}

img.avatar.ftEmpty {
	width: 100px;
	height: 100px;
	visibility:hidden;
}

/*
 * Diagnostic
 */
body.user {
	width: 650px;
	margin: 0 auto;
	background: #080824 url('../gfx/tablette.jpg') top center no-repeat;
}

#spores {
	margin: 150px auto auto auto;
	padding: 0 8px 4px 4px;
}

body.user.tablette #spores {
	background: transparent url('../gfx/grille-pandemie.png') -147px -150px
		no-repeat;
}

body.user.profil #ficheProfil {
	background: transparent url('../gfx/grille-profil.png?v=1') -127px -150px no-repeat;
	display: block;
	/* border: solid 1px red; */
	width: 620px;
	height: 430px;
	margin: 150px auto auto auto;
	padding: 0 4px;
}

#ficheProfil table.diagnostic td.fCol {
	width: 400px;
}

#spores tbody td { /* border: solid 1px #CCC; */
	padding: 1px 2px 1px 1px;
	text-align: center;
	/* @durss: height:140px; */
}

#spores #avatar_user,#ficheProfil #uAvatar {
	float: left;
}

table#spores{
	width: 644px;
	height: 398px;
}

#spores p.userName,#spores p.userStatus,#ficheProfil p.userName,#ficheProfil p.userStatus
	{
	text-align: left;
	font-size: 18px;
}

#spores p.userName:before {
	content: "Agent contaminant : ";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
/* @durss: 
#ficheProfil p.downloadShare {
	position:relative;
	left:-125px; /* !!!! */
}

.share {
	margin-left:30px;
}
*/
/* @durss: CACA ICI !!
input {
	width:50px;
}
*/
#ficheProfil p.userName:before {
	content: "Nom du sujet : ";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#spores p.userStatus:before,#ficheProfil p.userStatus:before {
	content: "Bilan fongique : ";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
#spores p.userParent:before {
	content: "Souche de l'infection : ";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

p.userName, p.userStatus, p.quickMisc {
	margin-left: 135px;
}

span.red {
	color: #E00;
}

span.green {
	color: #0B0;
}

#spores dl,#spores dt,#spores dd,.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

#spores .pagination li {
	display: inline;
	padding: 0 8px;
}

#spores .pagination li a {
	width: 80px;
	height: 16px;
	border: solid 1px red;
	padding: 4px;
	font-size: 10px;
}

table.diagnostic {
	width: 100%;
}

textarea.mushTranscryptor { /* display: block;
	float: left; */
	padding: 16px;
	width: 258px;
	height: 200px;
	border: solid 1px #000;
}

#ficheProfil .TM {
	text-align: center;
}

#ficheProfil .TM_menu {
	text-align: center;
	padding-right: 148px;
}

#ficheProfil .TM_menu span {
	float: left;
	width: 150px;
}

#ficheProfil .TM_menu img {
	vertical-align: -7px;
}

#ficheProfil textarea#text {
	color: #000;
	background: transparent url('../gfx/bg.transMush2.png') top center;
}

#ficheProfil textarea#result {
	color: #FFF;
	background: #080824 url('../gfx/bg.transMush1.png') top center;
}

.btn {
	display: inline-block;
	background: url("../gfx/btnbg.png?v=1") left top no-repeat;
	width: 115px;
	height: 21px;
	text-align: center;
	font-variant: small-caps;
	color: white;
	line-height: 0px;
	font-size: 14px;
	white-space: nowrap;
	font-weight: bold;
	text-decoration: none;
	border: none;
	vertical-align: 0;
 	cursor:pointer;
	text-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5),
		1px 0 2px rgba(0, 0, 0, 0.5);
}

.btn img {
	width: 16px;
	height: 16px;
	vertical-align: -3px;
}

/* Font size plus petit pour ce connard de firefox qui sait pas gérer le small-caps */
@-moz-document url-prefix() {
	.btn {
		font-size: 10px;
	}
}

.btn:hover {
	background: url("../gfx/btnbgHover.png?v=1") left top no-repeat;
}

.btn:active {
	/* @durss: margin: 2px -2px -2px 2px;*/ /* !!!! */
}

/* pandemie */
body.user a,
body.user a:visited  {
	font-weight: bold;
	font-family: Arial, sans-serif; 
	color: #2c4143;
	text-decoration: underline;
	text-shadow: 0px 0px 3px #cba481;
}
body.user a:hover {
	text-decoration: none;
	text-shadow: none;
}
body.user.tablette #spores .pseudo a {
	font-size: 12px;
}
body.user.tablette #spores .date{
	color: #333;
	font: 11px Arial, sans-serif;
}
/* liens profils internes */
a[href^="?uid="]:before {
	content: url("../gfx/notes.gif");
	width: 16px;
	height: 16px;
	margin-right: 3px;
	vertical-align: -2px;
}
/* liens profils twinoid */
a[href^="http://twinoid.com/user/"]:before{
	content: url("../gfx/twinoid.png");
	width: 16px;
	height: 16px;
	vertical-align: -4px;
}
/* liens profils muxxu */
a[href^="http://muxxu.com/user/"]:before{
	content: url("../gfx/muxxu.png");
	width: 16px;
	height: 16px;
	margin-right: 2px;
	vertical-align: -4px;
}

body.warning {
	background: #e0d2c1 url("../gfx/warning.jpg") no-repeat top center;
}
body.warning #affiche{
display: block;
width: 866px;
height: 100px;
margin: 204px auto 0 auto;
}
body.warning #affiche h1{
margin: 0 0 0 108px;
font: bold 18px Trebuchet MS, Arial, sans-serif;
color: #c62209;
text-shadow: 1px 1px 1px #000;
}
body.warning #affiche p{
margin: 2px 0 0 90px;
width: 152px;
font: 11px/16px Arial, sans-serif;
text-align: center;
color: #222;
}

/* User : quickMisc */
body.user #details input{
	width: 190px;
	height: 10px;
	font-size: 9px;
	font-family: arial, sans-serif;
	background-color: #fff1cc;
	border: solid 1px #CCC; 
	padding: 2px 4px;
}
body.user td.dCol.l2{
	vertical-align: top;
}
body.user td.dCol.l2 dt{
	/* background-color: rgba(255,200,200,0.5); */
	display: block;
	height: 18px;
	margin-top: 21px;
}
body.user td.dCol.l2 dd + dt{
	/* background-color: rgba(200,200,255,0.5); */
	margin-top: 5px;
}
body.user td.dCol.l2 dd{
	/* background-color: rgba(200,255,200,0.5); */
	display: block;
	height: 18px;
	margin-top: 0px;
}
body.user #details dd{
margin-left: 24px;
}
body.user #details dd.quikLink {
margin-left: 3px;
}
#toggleAvatar {
	cursor:pointer;
	/* @durss: 
	float: left;
	margin-top:3px;
	margin-right:4px;
	*/
}
img#uAvatar{
	position: absolute;
	z-index: 2;
}
img#uAvatar.sw_on{
	margin-top: -8px;
	margin-left: -8px;
}
img#uAvatar.ft120 + img#switch2{
	cursor:pointer;
	border: none;
	display: block;
	background: transparent url('../gfx/loader2.png') center center no-repeat;
	width: 120px;
	height: 120px;
	margin-top: 8px;
	margin-left: 8px;
	position: absolute;
	z-index: 1;
}
div.adv{
	position: absolute;
	z-index: 9999;
	color: #000;
	padding: 0 6px;
	background-color: #FB0;
	background-color: rgba(255, 187, 0, 0.75);	
}