.debug { font-family:Arial; font-size:12; color:#CC0000; flash-glow:[1.3,10,ffffff]; }
.error { font-family:Arial; font-size:18; color:#CC0000; }

.button { font-family:Visitor; font-size:22; color:#CC0000;}

.speak { font-family:Visitor; font-size:22; color:#CC0000;}

.pseudo { font-family:Arial; font-weight:bold; font-size:13; color:#000000; }
.chatTwin { font-family:Arial; font-size:13; color:#ad8a38;}
.chatMush { font-family:Arial; font-size:13; color:#C62209;}

.resultTitle { font-family:Arial; font-size:14; color:#000000;}
.resultStatus { font-family:Arial; font-size:12; color:#888888;}